language: python

python:
  - 2.7
  - 3.4
  
matrix:
  allow_failures:
    # unfortunately couldn't find a reliable way to test pyqt5 on travis yet
    - env: PYTEST_VERSION=2.7.0 PYTEST_QT_API=pyqt5

env:
 - PYTEST_VERSION=2.7.0 PYTEST_QT_API=pyqt4
 - PYTEST_VERSION=2.7.0 PYTEST_QT_API=pyside
 - PYTEST_VERSION=2.7.0 PYTEST_QT_API=pyqt5

install:
 - sudo apt-get update

 - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
     wget http://repo.continuum.io/miniconda/Miniconda-3.4.2-Linux-x86_64.sh -O miniconda.sh;
   else
     wget http://repo.continuum.io/miniconda/Miniconda3-3.4.2-Linux-x86_64.sh -O miniconda.sh;
   fi

 - bash miniconda.sh -b -p $HOME/miniconda
 - export PATH="$HOME/miniconda/bin:$PATH"
 - hash -r
 - conda config --set always_yes yes --set changeps1 no
 - conda update -q conda
 - conda config --add channels nicoddemus
 - conda config --add channels jdreaver
 # Useful for debugging any issues with conda
 - conda info -a

 - if [[ "$PYTEST_QT_API" == "pyqt4" ]]; then
     export QT_PACKAGE=pyqt;
   fi
 - if [[ "$PYTEST_QT_API" == "pyqt5" ]]; then
     export QT_PACKAGE=pyqt5;
   fi
 - if [[ "$PYTEST_QT_API" == "pyside" ]]; then
     export QT_PACKAGE=pyside;
   fi

 - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION $QT_PACKAGE
 - source activate test-environment
 - python setup.py develop

 # PyTest
 - pip uninstall -y pytest
 - pip install pytest==$PYTEST_VERSION

 # others
 - pip install coveralls --use-wheel

before_install:
 # see https://github.com/pytest-dev/pytest-qt/issues/35
 - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1280x1024x24"

script:
 # see https://github.com/pytest-dev/pytest-qt/issues/35
 - export LIBGL_DEBUG=verbose

 - if [[ "$PYTEST_QT_API" == "pyqt5" ]]; then
     export QT_QPA_PLATFORM_PLUGIN_PATH=$HOME/miniconda/envs/test-environment/lib/qt5/plugins/platforms;
   fi
 - coverage run --source=pytestqt setup.py test

after_success:
 - coveralls
