language: python
python:
  - "2.7"
before_install:
 - sudo add-apt-repository -y ppa:pyside/ppa
 - sudo apt-get update -qq
 - sudo apt-get install -qq python-pyside
 - export PYTHONPATH="$PYTHONPATH:/usr/lib/python2.7/dist-packages/"
 - "export DISPLAY=:99.0"
 - "sh -e /etc/init.d/xvfb start"
 - sleep 3

env:
 - PYTEST_VERSION=2.4.2
 - PYTEST_VERSION=2.5.2

install:
 - pip uninstall -y pytest
 - pip install hg+https://nicoddemus@bitbucket.org/hpk42/pytest@$PYTEST_VERSION
  
script: py.test
