language: python

python:
  - "2.7"
  - "3.2"
  - "3.4"
  
virtualenv:
  system_site_packages: true

matrix:
  allow_failures:
    # unfortunately couldn't find a reliable way to test pyqt5 on travis yet
    - env: PYTEST_VERSION=2.7.2 PYTEST_QT_API=pyqt5

env:
 - PYTEST_VERSION=2.7.2 PYTEST_QT_API=pyqt4
 - PYTEST_VERSION=2.7.2 PYTEST_QT_API=pyside
 - PYTEST_VERSION=2.7.2 PYTEST_QT_API=pyqt5

sudo: false

addons:
  apt:
    sources:
      - deadsnakes
      - qt5-proper
    packages:
      - python3-pyqt5
      - python3-pyqt4
      - python-qt4

install:
 # Qt
 - python scripts/install-qt.py

 # PyTest
 - pip uninstall -y pytest
 - pip install pytest==$PYTEST_VERSION

 # others
 - pip install coveralls --use-wheel

before_script:
 - export DISPLAY=:99.0
 - sh -e /etc/init.d/xvfb start
 - sleep 3


script:
 - python setup.py develop
 - catchsegv coverage run --source=pytestqt setup.py test

after_success:
 - coveralls
