environment:
  matrix:
    - INSTALL_QT: "py34-pyqt5"
      TESTENVS: "py34-pyqt5"

    - INSTALL_QT: "py35-pyqt5"
      TESTENVS: "py35-pyqt5"

    - INSTALL_QT: "py34-pyqt4"
      TESTENVS: "py34-pyqt4"

    - INSTALL_QT: "py27-pyqt4"
      TESTENVS: "py27-pyqt4"

    - TESTENVS: "py27-pyside,py34-pyside,lint"

install:
  - C:\Python27\python -u scripts\install-qt.py
  - C:\Python27\python -m pip install tox

cache:
  - C:\Installers -> appveyor.yml, scripts\install-qt.py

build: false  # Not a C# project

test_script:
  - C:\Python27\scripts\tox -e %TESTENVS%
