name: build

on: [push, pull_request]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false

      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]
        qt-lib: [pyqt5, pyqt6, pyside2, pyside6]
        os: [ubuntu-20.04, windows-latest, macos-latest]
        include:
          - python-version: "3.6"
            tox-env: "py36"
          - python-version: "3.7"
            tox-env: "py37"
          - python-version: "3.8"
            tox-env: "py38"
          - python-version: "3.9"
            tox-env: "py39"
        # https://bugreports.qt.io/browse/PYSIDE-1797
        exclude:
          - qt-lib: pyside6
            os: macos-latest
            python-version: "3.6"
          - qt-lib: pyside6
            os: macos-latest
            python-version: "3.7"

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox
        if [ "${{ matrix.os }}" == "ubuntu-20.04" ]; then
          sudo apt-get update -y
          sudo apt-get install -y libgles2-mesa-dev
        fi
      shell: bash
    - name: Test with tox
      run: |
        tox -e ${{ matrix.tox-env }}-${{ matrix.qt-lib }} -- -ra --color=yes

  checks:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: "3.7"
    - name: Install tox
      run: |
        python -m pip install --upgrade pip
        pip install tox
    - name: Linting
      run: |
        tox -e linting
    - name: Docs
      run: |
        tox -e docs

  deploy:

    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')

    runs-on: ubuntu-latest

    needs: [build, checks]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: "3.7"
    - name: Build package
      run: |
        python -m pip install --upgrade pip setuptools
        pip install wheel
        python setup.py sdist bdist_wheel
    - name: Publish package to PyPI
      if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
      uses: pypa/gh-action-pypi-publish@master
      with:
        user: __token__
        password: ${{ secrets.pypi_token }}
